<!-- Toolbar -->
<mat-toolbar class="toolbar" color = "primary" >

  <span>
  <a routerLink="/" class="logo" mat-button> Smith
  </a>
  </span>

  <span class="spacer"> </span>

  <ul>
    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> Home </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> Services </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> TechStack </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> Portfolio </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> Blog </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" mat-button routerLink="#home" routerLinkActive="activelink"> Contact </a>
    </li>
  </ul>
</mat-toolbar>
