<section id="home" class="hero-area bg-half-120 " style="background-image:url('../../assets/images/home-shape.png')">

  <article>
    <h1>Hi There, I'm Jilks Smith</h1>

    <p>Smith is currently pursuing a Barchelor's Degree in Mechatronic Engineering
      at Jomo Kenyatta University of Agriculture and Technology.
      As a freelancer he has gained experience in android app development,
      MEAN Stack web apps and developing back-end systems in Java and NodeJs.</p>

    <button mat-stroked-button>
      Download CV
      <mat-icon>cloud_download</mat-icon>
    </button>

  </article>



  <aside>
    <img alt="" src="../../assets/images/home-image.svg"/>

  </aside>

</section>
