<section id="home" class="hero-area bg-half-120 " style="background-image:url('../../assets/images/home-shape.png')">

  <article>
    <h1>Hi There, I'm Jilks Smith</h1>

    <p>Smith is currently pursuing a Barchelor's Degree in Mechatronic Engineering
      at Jomo Kenyatta University of Agriculture and Technology.
      As a freelancer he has gained experience in android app development,
      MEAN Stack web apps and developing back-end systems in Java and NodeJs.</p>

    <button mat-stroked-button>
      Download CV
      <mat-icon>cloud_download</mat-icon>
    </button>

  </article>



  <aside>
    <img alt="" src="../../assets/images/home-image.svg"/>

  </aside>

</section>



<!--Services section-->

<section id="services">

  <h2>What can I do for you?</h2>

  <p> Find out whether my services meet your needs</p>


  <div class="cards-container">


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
          <img src="../../assets/images/backend.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title>Backed Development</mat-card-title>
        <mat-card-subtitle>Nodejs and SpringBoot</mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/frontend.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title>Frontend Development</mat-card-title>
        <mat-card-subtitle>Angular, Bootstrap and Material UI</mat-card-subtitle>

      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/android.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Native Android Developemt</mat-card-title>
        <mat-card-subtitle> Kotlin and Java </mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/fullstack.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Fullstack Development</mat-card-title>
        <mat-card-subtitle> MEAN Stack </mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/architecture.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Web Infrastructure</mat-card-title>
        <mat-card-subtitle> Solutions architecture </mat-card-subtitle>

      </mat-card-content>
    </mat-card>
  </div>

</section>


<!--Tech stack section-->

<section id="techstack">

  <h2>Crafts and Tech Stack</h2>

  <p> Over the past couple of years I have managed to hone the following skills:</p>

  <div class="techstack-row">

    <div class="techstack-img-container" style="display:flex; flex: 1;">
      <img src="../../assets/images/techstack-image.svg" width="800px"/>
    </div>

    <div class="skills-container" >

      <!--skills row-->
      <div class="skills-row">

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/java.png" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/python.png" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/c.png" width="60px"/>

        </mat-card>

      </div>

      <!--skills row-->
      <div class="skills-row">


        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/Angular.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/bootstrap.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/springboot.png" width="60px"/>

        </mat-card>


      </div>

      <!--skills row-->

      <div class="skills-row">

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/android2.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/mongodb.svg" width="35px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/post_gray_sql.svg" width="60px"/>

        </mat-card>

      </div>

    </div>

  </div>

</section>

