
#home {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-area {
  background-size: cover;
  background-position: center center;
}

.bg-half {
  padding: 160px 0px;
  background-size: cover;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: relative;
  background-position: center center;
}

#home article {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 70px;
}

#home article h1 {
  font-size: 57px;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-family: "Nunito", sans-serif;
  color: #161c2d !important;
  line-height: 1.5;
  font-weight: 600;

}

#home article p {
  width: 80%;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #8492a6 !important;
}

#home article button {
  width: fit-content;
  padding: 5px 20px;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 7px;
}

#home aside {
  display: flex;
  flex: 1;
  justify-content: left;
}

#home aside img {
  width: 100%;
}


/* Services Section */

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;

}

#services h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#services p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#services .cards-container {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#services .cards-container mat-card {
  width: 400px;
  height: 200px;
  margin: 1rem;
  padding: 30px;
}

#services .cards-container mat-card mat-card-title {
  margin: 1rem auto;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}


#services .cards-container mat-card mat-card-subtitle {
  margin: 1rem auto;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
  font-family: "Nunito", sans-serif;

}
#services .cards-container mat-card mat-card-header {
  height: auto;
}
#services .cards-container mat-card mat-card-header img{
  position: relative;
  margin-top: -20px;
  margin-left: -40px;
}




/* Techstack Section */
#techstack {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
}

#techstack h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#techstack p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#techstack .techstack-row {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#techstack .skills-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

#techstack .skills-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
}


#techstack  mat-card {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* portfolio section */

#portfolio {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/pattern.png);

}

#portfolio h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#portfolio p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#portfolio .portfolio-cards-container {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .portfolio-cards-container mat-card {
  width: 430px;
  height: 320px;
  margin: 2rem auto;
  padding: 0;
  border-radius: 10px;
}

#portfolio .portfolio-cards-container mat-card img {
  width: 100%;
  height: 200px;
  margin: 0;
}

#portfolio .portfolio-cards-container mat-card mat-card-title {
  margin: 1rem 0 0 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #007bff;
}


#portfolio .portfolio-cards-container mat-card mat-card-subtitle {
  margin-left: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
  font-family: "Nunito", sans-serif;

}

#portfolio .portfolio-cards-container mat-card mat-card-content {
  margin: 0;
  padding: 0;

}

#portfolio .portfolio-cards-container mat-card mat-card-actions {
  margin: 0 0 0 1rem;
  padding: 0;
  display: flex;
  flex-direction: row;

}


.fa {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 1rem;
  border-radius: 50%;
  color: black;
}

.fa:hover {
    opacity: 0.7;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
}



/*blog section*/

#blog {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;

}

#blog h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#blog p {
  margin: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#blog .blog-cards-container {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#blog .blog-cards-container mat-card {
  width: 430px;
  height: 400px;
  margin: 2rem 3rem;
  padding: 0;
  border-radius: 10px;
}

#blog .blog-cards-container mat-card img {
  width: 100%;
  height: 200px;
  margin: 0;
}

#blog .blog-cards-container mat-card mat-card-title {
  margin: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: #161c2d;
}


#blog .blog-cards-container mat-card mat-card-subtitle {
  margin-left: 1rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 18px;
  font-family: "Nunito", sans-serif;

}

#blog .blog-cards-container mat-card mat-card-content {
  margin: 0;
  padding: 0;

}

#blog .blog-cards-container mat-card mat-card-actions {
  margin: 1rem 0 0 1rem;
  position: absolute;
  bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

}

#blog .blog-cards-container mat-card mat-card-actions a {
  display: flex;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #707070 !important;
  text-decoration: none;

}


#blog .blog-cards-container mat-card mat-card-actions :hover{
  color: #007bff !important;

}

#blog .blog-cards-container mat-card mat-card-actions a mat-icon {
  margin-right: 8px;

}



/*Contact section*/
#contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#contact h2 {
  margin-top: 5rem;
  font-size: 40px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#contact p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #8492a6 !important;
}

#contact .contact-row {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#contact .contact-row .contact-item {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#contact .contact-item h5 {
  margin-top: 1rem;
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 26px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

#contact .contact-item p {
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: #8492a6 !important;
}

#contact .contact-item a {
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #007bff !important;
  text-decoration: none;
}

#contact .contact-row form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

#contact .contact-row form .contact-fields-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#contact .contact-row .contact-row-fields {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  flex: 1;
}

#contact .contact-row form mat-form-field {
  width: 100%;
  margin-top: .5rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  color: black;

}

#contact .contact-row form mat-form-field textarea{
  height: 185px;

}

#contact .contact-row form mat-error {
  margin-bottom: 1rem;
}

input:empty {
  font-size: .8rem;
  color: #161c2d;
}


#contact .contact-row form button {
  margin-right: 1rem;
  width: auto;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  background-color: #007bff;

}




