<section id="home" class="hero-area bg-half-120 " style="background-image:url('../../assets/images/home-shape.png')">

  <article>
    <h1>Hi There, I'm Jilks Smith</h1>

    <p>Smith is currently pursuing a Barchelor's Degree in Mechatronic Engineering
      at Jomo Kenyatta University of Agriculture and Technology.
      As a freelancer he has gained experience in android app development,
      MEAN Stack web apps and developing back-end systems in Java and NodeJs.</p>

    <button mat-stroked-button (click)="downloadFile()">
      Download CV
      <mat-icon>cloud_download</mat-icon>
    </button>

  </article>


  <aside>
    <img alt="" src="../../assets/images/home-image.svg"/>

  </aside>

</section>



<!--Services section-->

<section id="services">

  <h2>What can I do for you?</h2>

  <p> Find out whether my services meet your needs</p>


  <div class="cards-container">


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
          <img src="../../assets/images/services/backend.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title>Backed Development</mat-card-title>
        <mat-card-subtitle>Nodejs and SpringBoot</mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/services/frontend.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title>Frontend Development</mat-card-title>
        <mat-card-subtitle>Angular, Bootstrap and Material UI</mat-card-subtitle>

      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/services/android.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Native Android Developemt</mat-card-title>
        <mat-card-subtitle> Kotlin and Java </mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/services/fullstack.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Fullstack Development</mat-card-title>
        <mat-card-subtitle> MEAN Stack </mat-card-subtitle>

      </mat-card-content>
    </mat-card>


    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <img src="../../assets/images/services/architecture.png" width="80px"/>
      </mat-card-header>

      <mat-card-content>

        <mat-card-title> Web Infrastructure</mat-card-title>
        <mat-card-subtitle> Solutions architecture </mat-card-subtitle>

      </mat-card-content>
    </mat-card>
  </div>

</section>


<!--Tech stack section-->

<section id="techstack">

  <h2>Crafts and Tech Stack</h2>

  <p> Over the past couple of years I have managed to hone the following skills:</p>

  <div class="techstack-row">

    <div class="techstack-img-container" style="display:flex; flex: 1;">
      <img src="../../assets/images/techstack-image.svg" width="800px"/>
    </div>

    <div class="skills-container" >

      <!--skills row-->
      <div class="skills-row">

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/java.png" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/python.png" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/c.png" width="50px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/nodejs-icon.svg" width="50px"/>

        </mat-card>

      </div>

      <!--skills row-->
      <div class="skills-row">

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/android2.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/Angular.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/bootstrap.svg" width="60px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/springboot.png" width="60px"/>

        </mat-card>


      </div>

      <!--skills row-->

      <div class="skills-row">

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/mongodb.svg" width="35px"/>

        </mat-card>

        <mat-card class="mat-elevation-z5">
          <img src="../../assets/images/skills/post_gray_sql.svg" width="60px"/>

        </mat-card>

      </div>

    </div>

  </div>

</section>


<!--portfolio section-->

<section id="portfolio">

  <h2>What I have done so far</h2>

  <p> Feel free to explore and reach for more details</p>


  <div class="portfolio-cards-container">


    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/portfolio.png" alt="">

      <mat-card-content>
        <mat-card-title> My Portfolio</mat-card-title>
        <mat-card-subtitle> Angular 13, Angular Material and Bootstrap</mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/shell.png" alt="">

      <mat-card-content>
        <mat-card-title> Shell </mat-card-title>
        <mat-card-subtitle> Written in C </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/airbnb.png" alt="">

      <mat-card-content>
        <mat-card-title> AirBnB Clone</mat-card-title>
        <mat-card-subtitle> HTML, CSS and JS </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/peri-entry.png" alt="">

      <mat-card-content>
        <mat-card-title> Peri DataEntry Website</mat-card-title>
        <mat-card-subtitle> Angular 13 and Angular Material</mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/peri-android.png" alt=""  style="margin: auto; width: 120px; margin-left: 150px;">

      <mat-card-content>
        <mat-card-title> Peri Android</mat-card-title>
        <mat-card-subtitle> Java </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/mavuno-android.png" alt=""  style="margin: auto; width: 120px; margin-left: 150px;">

      <mat-card-content>
        <mat-card-title> Mavuno Link Android</mat-card-title>
        <mat-card-subtitle> Java </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>


    <mat-card class="mat-elevation-z3" >
      <img src="../../assets/images/portfolio/uuzaji.png" alt="">

      <mat-card-content>
        <mat-card-title> Uuzaji</mat-card-title>
        <mat-card-subtitle> Angular 13 and Angular Material </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-globe"></a>
      </mat-card-actions>
    </mat-card>


  </div>

</section>




<!--blog section-->

<section id="blog">

  <h2>Blog</h2>

  <p> Feed thy mind...</p>


  <div class="blog-cards-container">


    <mat-card class="mat-elevation-z3" >
      <img src="https://miro.medium.com/max/1400/1*9LCaleAGpPeA642JAhaZgw.png" alt="">

      <mat-card-content>
        <mat-card-title> Under the Hood:`ls -l *.c` </mat-card-title>
        <mat-card-subtitle> ls is one of the most basic and frequently used commands in Linux.</mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="#" style="margin-right: 9rem;"> <mat-icon>calendar_today</mat-icon> Jan 24, 2022</a>
        <a href="https://medium.com/@smithjilks/under-the-hood-ls-l-c-3144d17b943">
        Read More
        <mat-icon>
          arrow_right
        </mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z3" >
      <img src="https://miro.medium.com/max/1400/0*2LgIuBkgpxgnzipP.jpg" alt="">

      <mat-card-content>
        <mat-card-title> Behind the scenes: Navigating to a URL on your browser </mat-card-title>
        <mat-card-subtitle> What happens when you type a URL iint browser and press enter </mat-card-subtitle>
      </mat-card-content>

      <mat-card-actions>
        <a href="" style="margin-right: 9rem;"> <mat-icon>calendar_today</mat-icon> Aug 25, 2021  </a>
        <a href="https://medium.com/@smithjilks/behind-the-scenes-navigating-to-a-url-on-your-browser-77439e52725f">
          Read More
          <mat-icon>arrow_right</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>



  </div>

</section>








<!--contact section-->

<section id="contact">
  <h2>Let's Chat</h2>

  <p> Don't hesitate to reach to out...</p>



  <!--contact row-->
  <div class="contact-row">
    <!--contact item-->

    <div class="contact-item">
      <mat-icon>phone</mat-icon>

      <h5> Phone</h5>

      <p>Leave a text, if urgent call!</p>

      <a href="tel:+254710618227">0710-618-227</a>

    </div>

     <!--contact item-->
     <div class="contact-item">
      <mat-icon>email</mat-icon>

      <h5> Email</h5>

      <p>Don't spam, be a hun...</p>

      <a href="mailto:smithjilks@gmail.com">smithjilks@gmail.com</a>

    </div>

     <!--contact item-->
     <div class="contact-item">
      <mat-icon>location</mat-icon>

      <h5> Location</h5>

      <p>Nairobi, Kenya</p>

      <a href="https://www.google.com/maps/place/Nairobi/@-1.3032051,36.707307,11z/data=!3m1!4b1!4m5!3m4!1s0x182f1172d84d49a7:0xf7cf0254b297924c!8m2!3d-1.2920659!4d36.8219462">View on Google Map</a>

    </div>

  </div>

  <div class=contact-row>

    <form #email ="ngForm">

      <div class="contact-fields-container">
        <div class="contact-row-fields">
          <mat-form-field appearance="outline">
            <input
              matInput type="text"
              name = "firstname"
              ngModel
              required
              placeholder="First Name:"
              minlength = "3"
              #firstname = "ngModel">

              <mat-error *ngIf ="firstname.invalid"> Please enter your first name </mat-error>

          </mat-form-field>


          <mat-form-field appearance="outline">
            <input
              matInput type="email"
              name = "email"
              ngModel
              required
              placeholder="Your email:"
              minlength = "3"
              #email = "ngModel">

              <mat-error *ngIf ="email.invalid"> Please enter your email </mat-error>

          </mat-form-field>


          <mat-form-field appearance="outline">
            <input
              matInput type="text"
              name = "subject"
              ngModel
              required
              placeholder="Your Subject:"
              minlength = "3"
              #subject = "ngModel">

              <mat-error *ngIf ="subject.invalid"> Please enter a subject for your email </mat-error>

          </mat-form-field>

        </div>

        <div class="contact-row-fields">

          <mat-form-field appearance="outline">
            <textarea
              matInput type="text"
              name = "subject"
              ngModel
              required
              placeholder="Your Message:"
              minlength = "10"
              #message = "ngModel"> </textarea>

              <mat-error *ngIf ="message.invalid"> Please enter your email message </mat-error>

          </mat-form-field>

        </div>
      </div>
      <button mat-raised-button >
        Send Message
        <mat-icon style="margin: .8rem 1rem;">send</mat-icon>
      </button>

    </form>
  </div>

</section>




